@use "../utils/media-query" as media-query;
.hero {
	position: relative;

	place-content: center;
	place-items: center;

	@include media-query.mobile-landscape{
		display: grid;
	}

	&__header {
		text-align: center;
		font-size: 6vmax;

		line-height: 1.2em;
		overflow-wrap: break-word;

		&--2 {
			font-size: 5vmax;
		}
	}

	&__img {
		margin: auto;
		$size: 25vmin;

		width: $size;
		height: $size;

		outline: 0.5em solid #edededee;

		border-radius: 50%;
		filter: grayscale(0.8) hue-rotate(110deg) contrast(0.8) brightness(0.85);

		background: url("../side.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
