@use "../utils/media-query" as media-query;

.projects {
	padding: 1em;
	overflow: hidden;
	&__container {
		width: 100%;
		height: 100%;

		overflow-x: auto;
		overflow-y: hidden;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
		grid-auto-columns: 100%;
		grid-auto-flow: column;
		gap: 1em;
		padding: 0rem 0.5em;

		.project {
			display: flex;
			flex-direction: column;
			place-content: center;
			place-items: center;
			text-align: center;

			@include media-query.mobile-landscape {
				display: grid;
				grid-template-areas:
					"title title title"
					"img text btn";

				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: auto 1fr;
				gap: 0.1em;
			}

			gap: 0.5em;

			.title {
				grid-area: title;
			}

			&__screenshot {
				max-width: 60%;
				max-height: 50%;
				grid-area: img;
			}

			footer {
				grid-area: btn;

				display: flex;
				place-content: center;
				place-items: center;
				gap: 1em;

				font-size: 0.8em;

				.project-live {
					filter: brightness(150%);
				}

				.project-repo {
					background: #222;
				}
			}
		}
	}
	nav {
		display: flex;
		gap: 1em;
		max-width: 100%;
		overflow-x: auto;
	}
}
