@use "../utils/media-query" as media-query;
.scroll-section {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	gap: 2em;
	color: #ededed;
	width: 80%;

	@include media-query.mobile {
		width: 100%;
	}

	@include media-query.mobile-landscape {
		gap: 0.5em;
	}

	border-radius: 15px;
	padding: 2rem;

	position: relative;

	&--backdrop {
		background-color: #14211f11;
		backdrop-filter: blur(15px) saturate(90%);
	}

	// content
}
